* {
    overflow: hidden;
    outline: none;
    box-shadow: none !important;
    user-select: none;
}

::-webkit-scrollbar {
    display: none;
}

#skore {
    margin-top: 10%;
}

#newyx {
    margin-top: 12%;
}